<%= link_to "New Banana", banana_new_path, :class => "item" %>
<%= link_to "My Bananas", mybananas_path, :class => "item" %>
<%= link_to "Rate Bananas", banana_rate_path, :class => "item" %>
<%= link_to "Top 10 Bananas", root_path, :class => "item" %>
<div class="right menu">
  <div class="ui dropdown item">
    Account <i class="dropdown icon"></i>
    <div class="menu">
      <% if logged_in? %>
        <%= link_to "Log out", logout_path,  method: :delete, :class => "item" %>
      <% else %>
        <%= link_to "Log in", login_path, :class => "item" %>      
        <%= link_to "Sign up", signup_path, :class => "item" %> 
      <% end %>      
    </div>
  </div>
  <% if !logged_in? %>
   <div class="item">
     <%= link_to "Log in", login_path, :class => "ui primary button" %>  
   </div>
  <% end %>   
  
</div>